@media only screen and (min-width: 1500px) {
  #slider {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  #slider {
    width: 1500px;
    position: absolute;
    top: 50px;
    right: 0;
  }
  
  #front_page {
    padding-top: 550px;
  }

  .logo_button {
    width: 370px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #slider {
    width: 1024px;
    position: absolute;
    top: 50px;
    right: 0;
  }
  
  #front_page {
    padding-top: 550px;
  }

  .logo_button {
    width: 250px;
  }
}

@media only screen and (max-width: 767px) {
  #slider {
    width: 950px;
    position: absolute;
    top: 50px;
    left: -150px;
  }
  
  #front_page {
    padding-top: 330px;
  }

  .logo_button {
    width: 250px;
  }
}

@media only screen and (max-width: 640px) {
  #slider {
    width: 700px;
    position: absolute;
    top: 50px;
    left: -50px;
  }
  
  #front_page {
    padding-top: 330px;
  }

  .logo_button {
    width: 150px;
  }
}
  

@media only screen and (min-width: 767px) {
}


@media only screen and (min-width: 561px) and (max-width: 766px) {
  .container {
    width: 90% !important;
    padding: 70px 0 0 0;
  }
  .content {
    width: 100%;
    padding: 0;
  }
}
