@media only screen and (max-width: 992px) {

  body {
    width: 100%;
    padding: 0;
    overflow: hidden;
  }

  .content {
    width: 95% !important;
    margin: 0 auto 0 auto;
    padding: 0 2.5%;
  }

  .text-content {
    h2 { margin-bottom: 30px;}
    width: 90%;
    margin: 20px auto;
  }

}

@media only screen and (min-width: 521px) and (max-width: 992px) {
  .project-pod {
    width: 45%;
    margin-right: 2%;
    margin-left: 2% !important;
  }
  .project-pod:first-child { margin-left: auto }
}

@media only screen and (max-width: 520px) {
  .project-pod {
    width: 90%;
    margin: 20px auto !important;
    display: block;
  }
  #tag_line {
    width: 90%;
    margin: 20px auto 40px auto;
  }
}
